body {
    margin: 0;
    padding: 0;
 
}

section {
    margin: 25px 20px;
}


section > h1{
    margin: 25px 20px;
}
form {
    display: table;
    margin-left: 20px;
    width: 300px;
}
p {
    display: table-row;
    width: inherit;
    
}
label {
    display: table-cell;
    
}
input {
    display: table-cell;
    margin: 10px 10px;
}

button {
    background-color: #5b9bd5;
    color: white;
}
section > button {
   margin-left: 223px;
  
}

table {
    margin-top: 20px;
    width: 50%;
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #d2deef;
}

tr:nth-of-type(odd) {
    background-color: #eaeff7;
}

#tableHeader {
    background-color:#5b9bd5;
    color: white;
    height: 25px;
}

tr > td:last-of-type {
    text-align: center;
}

#rowCount {
    margin: 25px 20px;
    font-weight: bolder;
}

span {
    color: red;
}

#sp1 {
    visibility: hidden;
}

#sp2 {
    visibility: hidden;
}

#sp3 {
    visibility: hidden;
}