body {
    margin: 0;
    padding: 0;
 
}

section > h1 {
    margin: 25px 20px;
}
form {
    display: table;
    margin-left: 20px;
    width: 300px;
}
p {
    display: table-row;
    width: inherit;
    
}
label {
    display: table-cell;
    
}
input {
    display: table-cell;
    margin: 10px 10px;
}

section > button {
   margin-left: 233px;
}

table {
    margin-top: 20px;
    width: 75%;
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #d2deef;
}

tr:nth-of-type(odd) {
    background-color: #eaeff7;
}

tr:first-of-type {
    background-color:#5b9bd5;
}